<html>
    <head>
       <title> A new blog</title>
    </head>
    <body>
        <h1>NEW BLOG</h1>
	<h2>thanks, Django Girls!</h2>

        <p><strong>Hi there!</strong></p>
       
        <ul><li><a href="http://djangogirls.org">make a web site</a></li><li>modify it</li></li></ul>
 <div>
        <p><em>It works!</em></p>
        <br/>
        <p>almost ready!</p>
</div>

<div>
        <p>more info at:</p>
        <a href="djangogirls.org">django girls's site</a>
</div>
    </body>
<div>
        <br/>
        <br/>
        <br/>

        <p>published: 27.02.16, 17:14</p>
        <br/>
        <br/>
        <p><a href="">More stuff comming soon</a></p>
</div>
</html>

